/**
 * Settings style & layout
 * note: `lists.css' must be loaded before this stylesheet
 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "MozTT", sans-serif;
  overflow: hidden;
  background-color: #f4f4f4;
}

.desLabel {
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 30px;
  height: 26px;
}

.desLabel span {
  font-size: 12px;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: auto;
}
section[id="wifi-available-networks"] {
  overflow: hidden;
}
.menu-itembtcheck{
  font-size: 1.5rem;
  padding: 0 5rem;
  line-height: 6rem;
  display: inline;
}
.menu-itemmklog{
  font-size: 1.5rem;
  padding: 0 3rem;
  line-height: 6rem;
  display: inline;
}
.pack-switchtcheck{
  top: 0px;
  width: 85%;
  height: 100%;
  position: absolute;
  left: 25px;
}

.divItem {
  font-size: 1.7rem;
  padding: 0;
  display: inline;
}

.divItemForRadioInfo {
  font-size: 1.7rem;
  padding: 0;
  line-height: 6rem;
  display: inline;
}

.divItem > input {
  height: 3rem;
  width: 90%;
}

.divItem > ul li {
  margin: 0 1rem;
}

.divItem > ul li > span {
  padding: 0;
}

.cus-divItem {
  font-size: 1.5rem;
  padding: 0 0.3rem;
  line-height: 6rem;
  display: inline;
}
.cus-divItem > input{
  height: 3rem;
  width: 30%;
}
.cus-switchtcheck{
  display: inline;
  vertical-align: middle;
  background: none;
}

.resultItem {
  font-size: 1.9rem;
  width: 100%;
  height: 300px;
  overflow: auto;
}

/*BEGIN t2m_zzh PR1043289 GPSOTA*/
.gpsOtaInfo-item {
  font-size: 1.9rem;
  width: 100%;
  overflow: auto;
}

/*END t2m_zzh GPSOTA*/
.radioinforesultItem {
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
}

.textItem,
.nfcItem {
  font-size: 1.9rem;
  width: 100%;
  line-height: 6rem;
  overflow: auto;
 }

.disable {
   background-color: gray;
   color: black;
   pointer-events: none;
}

:focus {
  background-color: rgba(0,234,255, .4) !important;
  outline: none !important;
}


li > label.inputSelected {
  background-color: rgba(0,234,255, .4) !important;
  outline: none !important;
}

gaia-select {
  position: relative;
  display: -moz-inline-box;
  width: auto;
}

.gsensor-div > ul > li {
  font-size: 1.4rem;
  padding: 0 0.3rem;
  line-height: 6rem;
  display: inline;
}