<element name="confirmation-message" extends="form">
  <template>

     <section>
       <h1>Confirmation title</h1>
       <p>Confirmation message</p>
     </section>
     <menu style="visibility:hidden">
       <button>Action 1</button>
       <button>Action 2</button>
     </menu>
  </template>
</element>
