<!-- Per-account credentials settings menu -->
<!-- need this section element to keep building blocks happy. Too bad it
  expects a section element -->
<section class="bbshim" role="region">
  <header class="tng-account-server-header">
    <h1 id="credential-header" data-prop="headerLabel"
        dir="auto"
        class="tng-account-header-label header-label"
        style="margin-left:0px"></h1>
  </header>
  <section class="scrollregion-below-header skin-organic" role="heading" aria-labelledby="credential-header">
    <header class="collapsed"></header>
    <header>
      <h2 data-l10n-id="settings-account-credentials"
        class="tng-account-credentials-label"></h2>
    </header>
    <div class="tng-form" role="menu">
      <li class="tng-account-server-username settings-input-list" role="menuitem">
        <h2 data-l10n-id="settings-username"
          class="tng-server-username-title" aria-level="3">
            UsernamE</h2>
        <span data-prop="usernameNodeSpan"
              class="tng-server-username-span"></span>
      </li>
      <li class="tng-account-server-password settings-input-list" role="menuitem">
        <span data-l10n-id="settings-password"
          class="input-title" aria-level="3"></span>
        <!-- When the input is focused, a resize event will be fired
             and will trigger _showCard() in mail-common.js
             the UI state will become wrong after _showCard() is called
             so disable the input first to prevent the wrong state
          -->
        <input data-prop="passwordNodeInput"
               class="tng-server-password-input" type="password" />
      </li>
    </div>
  </section>
</section>
