
.sim-lock-touchless {
  width:100%;
  height:100%;
  font-size:1.5rem;
}

.sim-pin-section {
  width:100%;
  height:100%;
}

.sim-lock-dialog-header {
  padding-left:0.5rem;
  height:3.2rem;
  line-height:3.2rem;
  border-bottom:solid 1px black;
  display:block;
}

.sim-lock-input-header {
  height:3rem;
  line-height:3rem;
}

.sim-lock-input {
  margin: auto;
  height: 6.4rem;
  padding-bottom: 2rem;
}

.sim-lock-input-ctrl {
  width:95% !important;
  display:block;
}

.sim-lock-input-ctrl.tip{
  background-color:red;
}
.sim-lock-input-ctrl:focus {
  box-shadow:none !important;
  border-bottom-color:rgba(1,1,1,0) !important;
}

.sim-error-notification {
  padding-bottom:1rem;
}

.sim-error-header {
}

.sim-error-body {
}

.sim-left-try {
  color:red;
}

.pin-unmatch-tips {
  color:red;
}

.sim-lock-section {
  width:100%;
  height:100%;
}

.sim-lock-section>div{
  padding-left:0.8rem;
}

.sim-locked-title {
  padding-top:1rem;
  padding-bottom:3rem;
}

.sim-locked-detail {
}
