/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Jrd Css */
.window {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-transition: -moz-transform 0.3s ease;
}
.title {
  width: 100%;
  height: 40px;
  background: linear-gradient(#74B042, #56A00E) repeat scroll 0 0 #74B042;
  border: 0px solid #56A00E;
  vertical-align: middle;
  text-align: center;
}
.title h1 {
  padding-top: 10px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 1px #335413;
  color: #fff;
}
.titleBar {
  background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
  border: 1px solid #456F9A;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.titleBar span {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 1px #335413;
  color: #fff;
  display: block;
  padding-left: 20px;
  padding-top: 8px;
}

.content {
  margin-left: 5px;
  margin-right: 5px;
}

.contentBar {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CCCCCC;
}

.first-child:hover {
  border: 1px solid #BBBBBB;
}

.first-child2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CCCCCC;
}

.last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.last-child:active{
  border: 1px solid #BBBBBB;
}

.last-child2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contentBar:hover {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
.contentBar:active {
  background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
.contentBar span {
  color: #222222;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
}

.desLabel {
  display: block;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 begin */
/*   height: 20px; */
  height:100%;
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 end */
}

.desLabel span {
  font-size: 12px;
}

.group {
  height: 70px;
  border: #CCC 1px solid;
  border-radius: 10px;
  margin: 5px;
  display: block;
}
.group span input {
  display: none;
}
.group span label {
  background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
  display: block;
  width: 100% ;
  height: 27px;
  padding-left: 43px;
  padding-top: 8px;
  color: #222222;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}
.group span label:hover {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
}
.group span label:active {
  background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6;
}
.group span input + label span {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 20px;
  margin-top: -4px;
  background: url(images/radio.png) no-repeat center top;
}
.group span input:checked + label span {
  background-position: center bottom;
}
.group span:first-child > label {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: #CCC 1px solid;
}
.group span:last-child > label {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.anchor {
  background: #aaaaaa url("images/icons-18-white.png") -107px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: -10px;
  top: -15px;
  float: right;
}

#home {
  position: relative;
  display: block;
  left: 15px;
  top: -15px;
  width: 20px;
  height: 20px;
}

.back {
  background: #999 url("images/icons-18-white.png") -143px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: 5px;
  top: 9px;
  float: left;
  box-shadow: 0px 0px 10px yellow;
}
.back:hover {
  box-shadow: 0px 0px 10px green;
}
.loading {
  background: url("images/ajax-loader.png") center center;
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: load;
  display: none;
}
@-moz-keyframes load{
0% {
transform: rotate(0deg);
}
25% {
transform: rotate(90deg);
}
50% {
transform: rotate(180deg);
}
75% {
transform: rotate(270deg);
}
100% {
transform: rotate(360deg);
}
}
.nextWindow {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -moz-transition: -moz-transform 0.3s ease;
  -moz-transform: translateX(100%);
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: none;
}

#nextFrame {
  border: none;
  width: 100%;
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 begin */
  height: -moz-calc(100% - 0px);
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 end */
  background-color: #fff;
  position: absolute;
}

body {
  overflow-y: scroll;
}

body.pageChange #nextWindow {
  -moz-transform: translateX(0);
}

body.pageChange #window {
  -moz-transform: translateX(-100%);
}

.button {
  width: 50%;
  border-top: 1px solid #96d1f8;
  background: #999;
  padding: 6.5px 13px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 22px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 begin */
  margin-top:10px;
  margin-left:5px;
  margin-bottom:10px;
/* modify by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 end */
  display: block;
  text-align: center;
}
.button:active {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button:disabled {
  background: #65a9d7;
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  color: #EEE;
  outline: none;
  outline-style: none;
}
.button:focus {
  outline: none;
  outline-style: none;
}
.fontLeftBold {
  font-weight: bold;
  float: left;
  vertical-align: middle;
  padding: 10px;
  font-size: 12px;
}
.fontRight {
  float: right;
  padding: 10px;
  font-size: 12px;
  transition: opacity 0.5s linear;
}
.divContent {
  background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  height: 40px;
}
:focus {
  background-color: rgba(0,234,255, .4) !important;
  outline: none !important;
}

/* add by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 begin */
.menu-itembtcheck{
  height: 40px;
}

.menu-itembtcheck:hover{
  background-color: rgba(0,234,255, .4) !important;
  outline: none !important;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}
/* add by haibo.chen1@t2mobile.com for Bug 419 2017-10-26 end */