html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  overflow: hidden;
}

button {
	width: 49%;
	height: 11%;
  margin: 2px;
}

input {
  width: 98%;
  height: 11%;
  margin: 2px;
}

#editDMAccCfg {
  position: absolute;
  top: 0;  
}

#selectNodeId {
  width: 99%;
  height: 12%;
  margin: 2px;
  position: absolute;
  top: 12.5%;
}

#inputNodeValue {
  position: absolute;
  top: 25%;  
}

#buttonGetNode {
  position: absolute;
  top: 37.5%;
  left: 0;
  text-align: center;
}

#buttonSetNode {
  position: absolute;
  top: 37.5%;
  right: 0;
  text-align: center;
}

.active {
  background-color:red;
  color:black;
}

#setDmServer {
  position: absolute;
  top: 50%;  
}

#selectServerId {
  width: 52%;
  height: 12%;
  margin: 2px;
  left: 5px;
  position: absolute;
  top: 63.5%;
}

#buttonSetServer {
  position: absolute;
  top: 63.5%;
  right: 10px;
  text-align: center;
  height: 12%;
  width: 35%;
}

#currentServerValue {
  position: absolute;
  top: 77%;  
  left: 5px;
  width: 51%;
}

#buttonGetServer {
  position: absolute;
  top: 77%;
  right: 10px;
  text-align: center;
  height: 12%;
  width: 35%;
}

