<element name="about-health-safety" extends="section">
    <template>

        <gaia-header data-href="#about-legal">
            <h1 data-l10n-id="health-legal-notices-header"></h1>
        </gaia-header>

        <div role="menuitem" class="iframe-container">
            <iframe id='health_safety'></iframe>
        </div>
        <panel data-path="panels/about_health_safety/panel"></panel>
    </template>
</element>
