<element name="messaging" extends="section">
  <template>

    <gaia-header action="back" data-href="#root">
      <h1 data-l10n-id="messagingSettings-header"></h1>
    </gaia-header>

    <div>
      <header>
        <h2 data-l10n-id="message-confirmation">Message Confirmation</h2>
      </header>
      <ul id="general-message-list">
        <li id="menuItem-deliveryReport" aria-disabled="true" class="hint">
          <label class="pack-switch">
            <input type="checkbox" name="ril.sms.requestStatusReport.enabled"/>
            <span data-l10n-id="message-delivery-reports">Delivery Reports</span>
          </label>
          <p class="explanation" data-l10n-id="message-delivery-reports-details">Request notification of delivery for each message sent</p>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="mmsTitle">Multimedia Messaging (MMS)</h2>
      </header>
      <ul class="mmsSettings-list">
        <li id="menuItem-readReport" aria-disabled="true" class="hint">
          <label class="pack-switch">
            <input type="checkbox" name="ril.mms.requestReadReport.enabled"/>
            <span data-l10n-id="message-read-reports">Read Reports</span>
          </label>
          <p class="explanation" data-l10n-id="message-read-reports-details">Request read report for each message sent</p>
        </li>
        <li id="menuItem-autoRetrieve" aria-disabled="true" class="hint">
          <span data-l10n-id="auto-retrieve" class="auto-retrieve-title">Auto Retrieve</span>
          <p class="explanation" data-l10n-id="auto-retrieve-details">automatically retieve messages</p>
          <span class="button icon icon-dialog">
            <select name="ril.mms.retrieval_mode" data-track-class="auto-retrieve-title">
              <option value="manual" data-l10n-id="manual-retrieve">Off</option>
              <option value="automatic" data-l10n-id="auto-roaming-retrieve">On with roaming</option>
              <option value="automatic-home" data-l10n-id="auto-no-roaming-retrieve">On without roaming/option>
            </select>
          </span>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="wapPushMessages">WAP Push Messages</h2>
      </header>
      <ul>
        <li id="menuItem-wapPush" aria-disabled="true">
          <label class="pack-switch">
            <input type="checkbox" name="wap.push.enabled"/>
            <span data-l10n-id="wapPush">WAP Push</span>
          </label>
        </li>
      </ul>
      <div class="options-container"></div>
      <ul class="simcards-container" hidden>
        <header>
          <h2 data-l10n-id="simSettings">SIM Settings</h2>
        </header>
        <li aria-disabled="true" class="sim1">
          <a class="menu-item" data-card-index="0" href="#">
            <span data-l10n-id="sim1">SIM 1</span>
            <small></small>
          </a>
        </li>
        <li aria-disabled="true" class="sim2">
          <a class="menu-item" data-card-index="1" href="#">
            <span data-l10n-id="sim2">SIM 2</span>
            <small></small>
          </a>
        </li>
      </ul>
    </div>

    <panel data-path="panels/messaging/panel"></panel>

  </template>
</element>
