#account > div {
  padding: 0.5rem 1rem 0;
}

#account-setup-list > li {
  margin: 0.5rem 0;
  height: 3.2rem;
  text-align: center;
  background-color: var(--color-gs20);
  overflow: hidden;
}

#account-setup-list > li > div {
  text-align: center;
  line-height: 3.2rem;
  color: var(--color-gs90);
}

#account-setup-list > li.focus > div {
  color: var(--color-gs00) !important;
}

.account-info {
  color: var(--color-gs90);
  word-wrap: break-word;
  line-height: 1;
  height: calc(100% - 1rem);
  -moz-hyphens: auto;
}

.anti-theft-image,
.anti-theft-image img {
  width: 100%;
  height: auto;
}

.anti-theft-info-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.anti-theft-info {
  position: relative;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow: scroll;
}

.anti-theft-info p {
  margin: 0.6rem 1rem 0.4rem;
  line-height: 1.2;
}

.login-success-container,
.anti-theft-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center-image {
  height: 9.6rem;
  width: 9.6rem;
  margin: 2rem 0;
}

.large-text .header-info {
  font-size: 2.7rem;
}

.header-info {
  color: var(--color-gs90);
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

.email-info {
  color: var(--color-gs70);
  width: 100%;
  text-align: center;
}

@media only screen and (orientation: landscape) {
  #account-setup-list {
    display: flex;
    flex-direction: row;
  }
  #account-setup-list > li {
    width: calc(50% - 0.5rem);
  }

  #account-setup-list > li:first-child {
    margin-right: 0.5rem;
  }

  #account-setup-list > li:last-child {
    margin-left: 0.5rem;
  }

  #account-setup-message {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .login-success-container {
    display: block;
    padding: 1.5rem 1rem 2rem;
  }

  .center-image {
    float: left;
    vertical-align: top;
    margin: 0 2rem 4rem 0;
  }

  .header-info {
    text-align: left;
    font-weight: 600;
  }

  #login-success .email-info {
    text-align: left;
    font-size: 1.7rem;
  }

  .anti-theft-image {
    height: 6rem;
    overflow: hidden;
  }

  .anti-theft-image img {
    position: relative;
    top: 0px;
  }

  .anti-theft-info p {
    margin: 0.5rem 2rem;
    font-size: 1.4rem;
  }
}
