html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-size: 10px;
  font-weight: 400;
}

[role=region] {
  display: none;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
 }

[role=region].show {
  display: block;
}

[role=main] {
  position: absolute;
  top: var(--statusbar-height);
  left: 0;
  width: 100%;
  height: var(--client-height);
  overflow: hidden;
  background-color: var(--color-gs00);
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  height: 6rem;
  overflow: hidden;
  position: relative;
}

ul > li > label {
  color: var(--color-gs70);
  line-height: 1;
}

p {
  margin: 0;
}

ul > li.focus {
  background-color: var(--highlight-color) !important;
}

ul > li.focus > p,
ul > li.focus > aside,
ul > li.focus > span,
ul > li.focus > label {
  color: var(--color-gs00) !important;
}

.hidden {
  display: none;
}

#main-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  text-align: center;
  color: var(--color-gs00);
  font-size: 1.7rem;
  font-weight: 300;
  background-color: var(--header-background);
  overflow: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.text-info {
  color: var(--color-gs90);
  word-wrap: break-word;
  line-height: 1.2;
  height: calc(100% - 1rem);
}

.terms-info,
.terms-info iframe
 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#privacy-terms .text-info {
  margin: 0.5rem 1rem;
}

.paragragh {
  padding-bottom: 1rem;
}

.data-info {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#puk-locked-container {
  padding: 0.5rem 1rem 0;
}
