<element name="fxa-set-password" extends="section">
  <template>
    <section class="vertical">
      <h3 data-l10n-id="fxa-create-password-title">Create A Password</h3>
      <p id="fxa-hello-user">Hello, <a id="fxa-user-set-email">holaSET@email.com</a></p>
      <ul class="tcl-nav-box">
      <li>
      <label for="fxa-pw-set-input" data-l10n-id="">Password</label>
      <input id="fxa-pw-set-input" type="password" placeholder="Password" required="" pattern=".{8,}" data-l10n-id="fxa-password" x-inputmode="verbatim">
      </li>
      <p class="fine-print" data-l10n-id="fxa-password-length-requirement">
        Your password must be at least 8 characters long.
      </p>
      <li>
      <div id="show-pw-wrapper">
        <label class="pack-checkbox" for="fxa-show-pw-set">
          <input id="fxa-show-pw-set" type="checkbox">
          <span></span>
        </label>
        <p data-l10n-id="fxa-show-password">Show password</p>
      </div>
      </li>
      </ul>
      <script src='js/screens/fxam_set_password.js'></script>
    </section>
  </template>
</element>
